<h1 class="md-title">Delete Attributes</h1>

<md-content layout-padding>
  <div>
    <form>
      <div layout="row" layout-padding>
        <md-input-container>
          <label>Domain Name</label>
          <input type="text" ng-model="attr.DomainName">
        </md-input-container>
        <md-input-container>
          <label>Item Name</label>
          <input type="text" ng-model="attr.ItemName">
        </md-input-container>
      </div>
      <div layout="row">
        <md-button type="submit" ng-click="invoke(attr)"]>Invoke Request</md-button>
        <md-button type="button" ng-click="displayUrl(attr)">Display Signed URL</md-button>
        <md-button type="reset" ng-click="reset()">Reset</md-button>
      </div>
      <div layout="row" layout-padding ng-hide="preview.length == 0">
        <div class="preview-box">{{ preview }}</div>
      </div>
    </form>
  </div>
</md-content>
